.navigation a {
  margin: auto;
  position: relative;
  display: block;
  font-weight: 100;
  background: #ffffff;
  border: 1px solid #ac00f6;
  text-decoration: none;
  color: #ac00f6;
  padding: 15px 20px;
  transition: 0.225s ease all;
  overflow: hidden;
  will-change: transform;
  box-shadow: 3px 3px 0px rgba(172, 0, 246, 0.5);
}
.navigation a:hover, .navigation a:focus {
  cursor: pointer;
  transform: translate(-4px, -4px);
  box-shadow: 7px 7px 0px rgba(172, 0, 246, 0.3);
  color: black;
}
.navigation a.clicked {
  cursor: pointer;
  transform: translate(3px, 3px) !important;
  box-shadow: 0px 0px 0px #ac00f6 !important;
  border: 1px solid rgba(172, 0, 246, 0.5);
}

.Home {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-image: url("../imgs/Background.png");
  background-size: 85%;
}

/* My PROJECT section coded using CSS flex */
.menuBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  align-items: center;
}

#NavG {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainLogo {
  width: 25%;
}

.Projects-html {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  background-image: url("../imgs/Background-Projects.png");
  background-size: 100%;
}

.projects {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.projectArea {
  width: 25%;
}

/* My Project section coded using CSS flex ENDS*/

/* css for problem-solution */

.main{
	width: 55vw;
	
	margin: auto;
	position: relative;
	top: 8vh;
	height: auto;
	padding: 2vw;
	padding-top: 5vw;
	padding-bottom: 10vw;
}
body{
	background-color: grey;
	font-family: 'Titillium Web', sans-serif;
}
.sec{
	font-size: 1.5vw;
	width: 100%;
	background-color: orange;
	padding: 1.5vw;
	cursor: pointer;
	margin-top: 0.5vw;
	background-color: #eeeeee;
	text-align: left;
	color: #9e9e9e;
}
.sec:hover{
	width: 110%;
	padding: 2vw;
   animation-name: rotate;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-iteration-count: 1;
}
	


.fa{
        float: right;
}
.collapsable{
	width: 100%;
	background-color: pink;
	padding: 2vw;
	font-size: 1.2vw;
	display: none;
	color: #757575;
	background-color: white;
}
.sec i{
	font-size: 2vw;
	color: #616161;
}
@media only screen and (max-width: 425px){
	.main{
		width: 90vw;
	}
	.sec{
	    font-size: 4.5vw;
	    width: 100%;
	    padding: 4.5vw;
		margin-top: 1.5vw;
    }
	.sec:hover{ 
	    width: 110%;
	    padding: 6vw; 
	}
	.collapsable{ 
	    width: 100%;
	    padding: 6vw;
	    font-size: 3.6vw;
	    display: none; 
    }
	.sec i{
		font-size: 6vw;
	}
}




/* css for problem-solution  ENDS*/


body{margin-top:20px;}
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #1ca54c;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #1ca54c;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #29ad3f
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: rgba(40, 133, 24, 0.5);
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}



.skills-html {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*height:x;*/
  margin: 0;
  text-align: center;
  background-image: url("../imgs/Background-Projects.png");
  background-size: 100%;
}

.uxSkills {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
} 
/* My SKILLS section coded using CSS flex */
#mySkills {
  min-width: 50%;
  max-width: auto;
  max-height: 30px;
  font-size: 20px;
  font-weight: 300;
  word-wrap: break-word;
  margin: auto;
  color: #000000;
}

/* My SKILLS section coded using CSS flex ENDS*/

.mainPh {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#mainGrid {
  margin: 100px 20%;
  display: grid;
  min-height: 500px;
  scale: 75%;
  height: 500px;
  width: 100%;
  right: 100px;
  /*grid-template-rows: 75% 25%;*/
  grid-template-columns: 70% 30%;
  grid-template-areas: "heroImage aboutMe";
}

#heroImage {
  grid-area: heroImage;
  background-image: url("../imgs/Selfie.png");
}

#social-links {
  font-size: 60px;
  text-decoration: none;
  align-items: flex-end;
  justify-content:space-evenly;
  display: flex;
  padding: 5%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-brands {
  color: black;
}



#headline {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #7a5ce9;
  position: absolute;
  right: 100px;
  top: 200px;
  padding: 70px;
  max-width: 600px;
  border-style: dotted;
  border-radius: 2%;
}

.leftGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #000000;
}



#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px; /* Footer height */
}

/*@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}*/
@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #mainGrid {
    /*grid-template-rows: 75% 25%;*/
    grid-template-columns: 75% 25%;
    grid-template-areas: "profilePhoto aboutMe";
  }
  .projects {
    flex-direction: column;
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px; /* Footer height */
  }
}/*# sourceMappingURL=styles.css.map */